<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Bearcat Job Search</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <h3 style="text-transform: capitalize;">Hello {{studentName}},</h3>
    <hr/>
    <h4>Reg: Reset Password</h4>
    <div class="subtitle">
      <p>Please click the below link to reset the password <a href="{{url}}">{{url}}</a>.</p>
      <small style="color: #0095ff">Note: The above link is valid for only 10 minutes</small>
      <br/>
      <small style="color: #dc3545">***Note: If you have not reset your password please support team</small>
      <p>Thank you,<br/>Team Bearcat Job Search</p>
    </div>
  </section>
</body>
</html>
