HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}

CACHE_VIEWS=false

APP_KEY=

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis

SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt


DB_HOST=brtgirgcaf81h6k3jygj-mysql.services.clever-cloud.com
DB_PORT=3306
DB_USER=uzugcmkexfrbc4fp
DB_PASSWORD=ITrrTw3FconKzrChV120
DB_DATABASE=brtgirgcaf81h6k3jygj

